<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaWebEmpleado</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
	  <h1>SISTEMA Empleado</h1>
      
  </header>
  <aside>
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            
			<h2>
                Bienvenido
                <img src="~/assets/smile.png"/>
            </h2>
        }
  </aside>
  <nav>
      <ul>
          <li>@Html.ActionLink("Home","Index","Home")</li>
          <li>@Html.ActionLink("Lista Empleados","Index","Empleado")</li>
          <li>@Html.ActionLink("Nuevo Empleado","Create","Empleado")</li>
      </ul>
  </nav>
  <main>
        @RenderBody()
  </main>
  <footer>
      <span>info@Empleado.com</span>
  </footer>
</body>
</html>
